!!!
%html
  %head
    %title= @title || "Title"
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= @title || "Title"
      #content= yield
      #footer
        %p#legal= "&copy; #{Time.now.strftime('%Y')} #{@author || 'Collin Reisdorf'}"
